---
layout: markdown_page
title: "Product Vision - Defend"
---

- TOC
{:toc}

This is the product vision for Defend.

## Overview

The Defend stage includes all features related to defending, reacting to, and
remediating security threats to applications and their cloud infrastructure.
GitLab helps you create, deliver, and manage secure applications in today's
modern infrastructure while also enabling DevOps methodologies and Digital
Transformations.

<%= partial("direction/categories", :locals => { :stageKey => "defend" }) %>

## Prioritization Process

In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization)
as the product team at large. Issues will tend to flow from having no milestone,
to being added to the backlog, to being added to this page and/or a specific
milestone for delivery.

You can see our entire public backlog for Package at this
[link](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Defend);
filtering by labels or milestones will allow you to explore. If you find
something you're interested in, you're encouraged to jump into the conversation
and participate. At GitLab, everyone can contribute!

Issues with the "direction" label have been flagged as being particularly
interesting, and are listed in the sections below.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "defend" }) %>
